################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Email.Microservice/ConsoleApp1/bin
/Email.Microservice/ConsoleApp1/obj
/Microservice.WebApi-master-master/Customer.Microservice/bin
/Microservice.WebApi-master-master/Customer.Microservice/obj
/Microservice.WebApi-master-master/Gateway.WebApi/bin
/Microservice.WebApi-master-master/Gateway.WebApi/obj
/Microservice.WebApi-master-master/Product.Microservice/bin
/Microservice.WebApi-master-master/Product.Microservice/obj
/Microservice.WebApi-master-master/RabbitMQContract/bin
/Microservice.WebApi-master-master/RabbitMQContract/obj
/Microservice.WebApi-master-master/.vs/Microservice.WebApi/FileContentIndex
